In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [2]:
ex=pd.read_csv('datasets_74977_169835_StudentsPerformance.csv')
ex.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
inpu=ex.drop(['gender','reading score','writing score'],axis=1)
tar=ex['gender']
inpu.head()

,race/ethnicity,parental level of education,lunch,test preparation course,math score
0,group B,bachelor's degree,standard,none,72
1,group C,some college,standard,completed,69
2,group B,master's degree,standard,none,90
3,group A,associate's degree,free/reduced,none,47
4,group C,some college,standard,none,76

In [4]:
# we have to encode the columns to numericals
from sklearn.preprocessing import LabelEncoder

In [5]:
race=LabelEncoder()
lev=LabelEncoder()
lunch=LabelEncoder()
course=LabelEncoder()
#creating object of encoder

In [6]:
inpu['race_and']=race.fit_transform(inpu['race/ethnicity'])
inpu['level']=lev.fit_transform(inpu['parental level of education'])
inpu['lunchan']=lunch.fit_transform(inpu['lunch'])
inpu['course_and']=course.fit_transform(inpu['test preparation course'])
inpu.head()

,race/ethnicity,parental level of education,lunch,test preparation course,math score,race_and,level,lunchan,course_and
0,group B,bachelor's degree,standard,none,72,1,1,1,1
1,group C,some college,standard,completed,69,2,4,1,0
2,group B,master's degree,standard,none,90,1,3,1,1
3,group A,associate's degree,free/reduced,none,47,0,0,0,1
4,group C,some college,standard,none,76,2,4,1,1

In [7]:
# droping label column
inputs=inpu.drop(['test preparation course','parental level of education','race/ethnicity','lunch'],axis=1)
inputs.head()

   math score  race_and  level  lunchan  course_and
0          72         1      1        1           1
1          69         2      4        1           0
2          90         1      3        1           1
3          47         0      0        0           1
4          76         2      4        1           1

In [8]:
target=LabelEncoder()
ex['targe']=target.fit_transform(ex['gender'])
ex.head()
main=ex['targe']
main.head()

0    0
1    0
2    0
3    1
4    1
Name: targe, dtype: int32

In [9]:
from sklearn import tree

In [10]:
model=tree.DecisionTreeClassifier()

In [11]:
model.fit(inputs,main)

DecisionTreeClassifier()

In [12]:
model.predict([[70,0,2,1,1]])

array([1])

In [13]:
model.score(inputs,main)

0.943